<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
  <head>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta name="googlebot" content="index,follow">

    <!-- Title -->
    <title>Barren Nebula</title>

    <!-- Templates core CSS -->
    <link href="stylesheets/application.css" rel="stylesheet">

    <!-- Favicons -->
    <link href="images/favicon/favicon.png" rel="shortcut icon">
    <link href="images/favicon/apple-touch-icon-57-precomposed.png" rel="apple-touch-icon">
    <link href="images/favicon/apple-touch-icon-72-precomposed.png" rel="apple-touch-icon" sizes="72x72">
    <link href="images/favicon/apple-touch-icon-144-precomposed.png" rel="apple-touch-icon" sizes="114x114">
    <style>
      @font-face { font-family: Jupiter; src: url('fonts/Jupiter.ttf'); } 
      h1,p,h3 {
      font-family: Jupiter
      }
    </style>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <!-- Modernizr Scripts -->
    <script src="javascript/vendor/modernizr-2.7.1.min.js"></script>
  </head>
  <body class="index" id="to-top">
    <!-- Jumbotron -->
    <header class="jumbotron" role="banner">

      <div class="">

        <div class="row">

          <div class="col-md-5">

            <!-- Logo -->
            <figure class="text-center">
                <img class="img-logo" src="images/logo.png" alt="">
            </figure> <!-- /.text-center -->

            <!-- Title -->
            <div class="panel panel-primary panel-transparent text-center">
            <div class="panel-heading text-center">
            <h1  style="color:rgb(255, 153, 0); font-size:300%;"><b>Welcome to The Barrens</b></h1>
            </div>
            <!-- Sub title -->
            <div class="panel-body text-center">
            <h1  style="color:rgb(121, 255, 77); font-size:200%;"><b>Once a prosperous colony, this system has now been taken over by space raiders. The debris belt around it ensures it remains a haven for the scourge of the galaxy, where no one dares to enter. Do you dare face the dangers of the Barren Nebula?</b></h1>
            </div>
            </div>
            <!-- Button -->
            <p class="btn-app-store">
              <a class="btn btn-lg" href="#fakelinks">
                <img alt="Get it on Google Play" src="https://developer.android.com/images/brand/en_generic_rgb_wo_60.png" />

              </a>
            </p> <!-- /.btn-app-store -->

            <p class="btn-app-store">
              <a class="btn btn-danger btn-lg" href="#fakelinks">
                <img src="https://assets.windowsphone.com/85864462-9c82-451e-9355-a3d5f874397a/English_get-it-from-MS_InvariantCulture_Default.png" alt="Get it from Microsoft">
              </a>
            </p>
          </div> <!-- /.col-md-7 -->

          <div class="col-md-7">

            <!-- Images showcase -->
            <figure>
              <img class="" src="images/iphone/2.png" alt="">
            </figure>

          </div> <!-- /.col-md-5 -->
          
        </div> <!-- /.row -->
        
      </div> <!-- /.container -->

    </header> <!-- /.jumbotron -->


    <!-- Features -->
    <section class="features-section" id="section-2">

      <div class="container">

        <div class="row">

          <div class="col-md-5">
            
            <!-- Images showcase -->
            <figure>
              <img class="img-iPhone" src="images/iphone/1.png" alt="">
            </figure>

          </div> <!-- /.col-md-5 -->

          <div class="col-md-7 ">
            
            <!-- Title -->
            <h3  style="font-size:300%;" id="title-1">Exciting Space Action</h3>

            <!-- Description -->
            <p style="font-size:150%;color:rgb(26, 255, 209);">Barren Nebula features small, action packed episodes with engaging gameplay. Each episode will feature a different environment and gameplay, and will be compact enough for a quick playthrough, but so enganging that will make you come back for more.</p>


          </div> <!-- /.col-md-7 -->
          
        </div> <!-- /.row -->




        <div class="row media-screen-800">

          <div class="col-md-7">
            
            <!-- Title -->
            <h3 id="title-2" style="font-size:300%;">Many dangers to overcome</h3>

            <!-- Description -->
            <p style="font-size:150%;color:rgb(26, 255, 209);">The infamous debris belt that surrounds The Barrens is filled with dangerous outlaws and many other hazards. The only way out is through it, and you have to blast your way through with nothing but your armor and weapons. Thankfully, the pirates are not very bright, and carry more supplies than they can use, so make use of it!</p>

          </div> <!-- /.col-md-7 -->

          <div class="col-md-5 col-features text-center">
            
            <!-- Images showcase -->
            <figure>
              <img class="img-iPhone" src="images/iphone/4.png" alt="">
            </figure>

          </div> <!-- /.col-md-5 -->
          
        </div> <!-- /.row -->




        <div class="row">

          <div class="col-md-5 col-features text-center">
            
            <!-- Images showcase -->
            <figure>
              <img class="img-iPhone"" src="images/iphone/3.png" alt="">
            </figure>

          </div> <!-- /.col-md-5 -->

          <div class="col-md-7">
            
            <!-- Title -->
            <h3 id="title-3" style="font-size:300%;">Survival is improbable, but not impossible!</h3>

            <!-- Description -->
            <p style="font-size:150%;color:rgb(26, 255, 209);">At your disposal you have your trusty ray gun, a rocket launcher, and a powerful laser module. Salvage supplies from your enemies to find ammo, first-aid space-kits and shield modules. You need to keep pushing, and collect keycards from your enemies so you can access the mysterious ship.</p>

          </div> <!-- /.col-md-7 -->
          
        </div> <!-- /.row -->

      </div> <!-- /.container -->

    </section> <!-- /.features-section -->



    <!-- Footer -->
    <footer class="footer-section" role="contentinfo">

      <div class="container">

        <div class="row">

          <div class="col-md-4 col-footer col-padding">

            <!-- Social media links -->
            <ul class="social-media-links">

              <li><a class="fa fa-facebook fb" href="#fakelinks"></a></li>
              
            </ul> <!-- /.social-media-links -->

          </div> <!-- /.col-md-4 -->

          <div class="col-md-4 col-footer">
            
            <!-- Footer 1 -->
            <section>
              <p><strong>Diogo Ribeiro</strong> <br>https://diogo92.github.io/</p>
            </section>

          </div> <!-- /.col-md-4 -->
          
        </div> <!-- /.row -->

      </div> <!-- /.container -->

    </footer> <!-- /.footer-section -->

    <!-- Placed at the end of the document so the pages load faster -->
    <script src="javascript/vendor/jquery-2.1.0.min.js"></script>
    <script src="javascript/bootstrap.min.js"></script>
    <script src="javascript/assets/application.js"></script>
  </body>
</html>
